<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/header.css">
    <% if(typeof cssFile !== 'undefined') { %>
      <link rel="stylesheet" href="/css/<%= cssFile %>">
      <% } %>
</head>
<body>

    <header class="header">
        <div class="header-container">
            <a href="/" class="logo">Community Portal</a>
            <link rel="stylesheet" href="/css/header.css">
            
            <nav class="nav">
                <ul class="navlist">
                    <li class="navitem">
                        <a href="/" class="navlink">Home</a>
                    </li>
                    <li class="navitem">
                        <a href="/about" class="navlink">About</a>
                    </li>
                    <li class="navitem">
                        <a href="/events" class="navlink">Events</a>
                    </li>
                    <li class="navitem">
                        <a href="/contact" class="navlink">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>