<%- include('../partials/header') %>
<h1>Team Members</h1>
<ul>
  <% teamMembers.forEach(member => { %>
    <li><%= member.name %> - <%= member.role %></li>
  <% }); %>
</ul>
<%- include('../partials/footer') %>