<!DOCTYPE html>
<html>

<head>
  <title>Community Portal</title>
  <link rel="stylesheet" href="/community-portal-prefilled/public/css/style.css">
  <meta charset="UTF-8">
</head>

<body>
  <nav>
    <a href="/community-portal-prefilled/views/pages/home.ejs">Home</a>
    <a href="/community-portal-prefilled/views/pages/about">About</a>
    <a href="/community-portal-prefilled/views/pages/events">Events</a>
    <a href="/community-portal-prefilled/views/pages/contact">Contact</a>
  </nav>
</body>

</html>