body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header, footer {
    background-color: #eee;
    padding: 1em;
    text-align: center;
  }
  
  nav a {
    margin: 0 10px;
    text-decoration: none;
  }

  .error-box {
  background-color: #ffe6e6;
  border: 1px solid #cc0000;
  padding: 10px;
  margin-bottom: 15px;
  color: #cc0000;
}

